Привет<br>
<br>
Это Telegram-бот для учёта финансов.<br>
<br>
Здесь можно посмотреть список категорий, транзакций. Создать новые категории и транзакции.<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/authenticate — авторизация пользователя в боте
