Привет<br>
<br>
Это Telegram-бот для учёта финансов.<br>
<br>
Здесь можно посмотреть список категорий, транзакций. Создать новые категории и транзакции.<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/authenticate — авторизоваться в боте<br> 
/categories_list — получить список категории<br>
/transactions_list — получить список транзакций<br>
/expenses_list — получить список категории<br>
/incomes_list — получить список категории<br>
