html,
body {
    height: 100%;
}

.form-settings {
    max-width: 540px;
    padding: 1rem;
}

.form-settings .form-floating:focus-within {
    z-index: 2;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
