{% extends "base.html" %}

{% load static%}

{% block styles %}
    <link href="{% static 'accounts/css/password_reset.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Reset your password &bull;
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="form-password-reset w-100 m-auto">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>
                <p>Enter your email address to obtain a new password.</p>

                <div class="form-floating">
                    {{ form.email }}
                    <label for="floatingEmail">Email address</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Send e-mail</button>
            </form>
        </div>
    </div>
{% endblock %}
