{% extends "base.html" %}

{% load static%}

{% block styles %}
    <link href="{% static 'accounts/css/password_reset.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Password set &bull; Money tracker
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="form-password-reset w-100 m-auto">
            <h1 class="h3 mb-3 fw-normal">Reset your password</h1>
            <p>Your password has been set. You can <a href="{% url 'signin' %}">log in now</a></p>
        </div>
    </div>
{% endblock %}
