{% extends "base.html" %}

{% load static%}

{% block styles %}
    <link href="{% static 'accounts/css/password_change.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Password changed &bull; Money tracker
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="form-password-change w-100 m-auto">
            <h1 class="h3 mb-3 fw-normal">Password changed</h1>
            <p>Your password has been changed. You may go ahead and <a href="{% url 'signin' %}">log in</a> now.</a></p>
        </div>
    </div>
{% endblock %}
