{% extends "base.html" %}

{% load static%}

{% block styles %}
    <link href="{% static 'accounts/css/password_reset.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Log in &bull; Money tracker
{% endblock %}

{% block content %}
    {% if validlink %}    
        <div class="d-flex align-items-center py-4 bg-body-tertiary">
            <div class="form-password-reset w-100 m-auto">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Reset your password</h1>

                    <p>Please enter your new password twice:</p>

                    <div class="form-floating">
                        {{ form.old_password }}
                        <label for="floatingPassword">Old password</label>
                    </div>

                    <div class="form-floating">
                        {{ form.new_password1 }}
                        <label for="floatingPassword">New password</label>
                    </div>

                    <div class="form-floating">
                        {{ form.new_password2 }}
                        <label for="floatingPassword">Confirm new password</label>
                    </div>

                    <button class="btn btn-primary w-100 py-2" type="submit">Change my password</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>
            The password reset link is invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}
