{% extends 'base.html' %}

{% load static%}

{% block title %}
    Transaction list &bull;
{% endblock %}

{% block content %}
    <h1 class="text-center">Transaction list</h1>
    <br>
    <div style="margin-left: 10px; margin-right: 10px;">
        <div style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-primary w-25 py-2" style="justify-content: center;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Filtering
            </button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Filtering</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="get">
                    <div class="modal-body">
                        {{ transactions.form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Transaction amount</th>
                <th scope="col">Transaction name</th>
                <th scope="col">Transaction category</th>
                <th scope="col">View transaction</th>
                </tr>
            </thead>
            {% for transaction in transactions.qs %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.name }}</td>
                        <td>{{ transaction.category }}</td>
                        <td><a href="{% url 'transaction_detail' id=transaction.id %}">View</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        <a href="{% url 'transaction_create' %}" class="btn btn-primary w-100 py-2" type="submit">Create new transaction</a>
    </div>
{% endblock %}
